body {
    font-size: 16px;
    display: grid;
    background-color: f1f1f1;
    grid-template-columns: 70% 30%;
    grid-template-rows: minmax(100px, auto);
    grid-template-areas: 
        "hd hd"
        "mb mb"
        "ft ft";
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
}

header  {
    background-color: white;
    grid-area: hd;
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px double rgb(163, 169, 176, 0.3);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

p {
    font-weight: 300;
}

footer {
    background-color: #2f3c4e;
    grid-area: ft;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 10vw;
}

aside {
    min-width: 300px;
}

.logo{
    height: 75px;
    display: flex;
}

nav {
    display: flex;
    padding: 10px;
    width: 40vw;
    justify-content: space-between;
    align-items: center;
    
}

.nodecoration {
    text-decoration: none;
    color: inherit;
}

.main-body {
    display: flex;
    grid-area: mb;
    margin: 0 10vw;
    
}

article, aside {
    margin: 100px 50px 100px 0;
}

aside {
    margin-right: 0px;
}

#profile, #search, #categories, #popular-posts{
    border: 4px outset rgb(163, 169, 176, 0.2);
    padding: 20px 10px;
    margin: 0 20px 10px;
}

#blog-head {
    border: 4px outset rgb(163, 169, 176, 0.2);
    padding: 10px 20px;
    margin-bottom: 5px;
    background-color: white;
}

#blog-body {
    padding: 20px 20px 5px 20px;
    background-color: white;
    border: 4px outset rgb(163, 169, 176, 0.2);
    margin-bottom: 50px;
}

#blog-footer {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid rgb(163, 169, 176, 0.2);
}

.feature-image {
    /* width: 100%; */
    background-color: black;
    /* margin: -20px; */
    width: calc(100% + 40px);
    margin: -20px;
    margin-bottom: 10px;
}

button {
    padding: 10px 10px;
    text-transform: uppercase;
    border: 2px solid rgb(163, 169, 176, 0.2);
    transition: all .2s ease-in-out; 
}

.blog-card button {
    margin: 20px;
}

#profile {
    text-align: center;
    color: white;
    background-color: #e74c3c;
}

#search, #categories, #popular-posts {
    background-color: white;
}

.aside-head button {
    background-color: black;
    color: white;
    margin-right: 5px;
}

.aside-head button, .aside-head p {
    display: inline;
}

.aside-head {
    padding: 10px 0;
    border-bottom: 3px solid rgb(163, 169, 176, 0.2);
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#search-form {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

#search-button {
    width: 100%;
}

#avatar {
    border: 5px solid #a42b32;
    border-radius: 50%;
    max-width: 150px;
    height: auto;
    background-color: #2f3c4e;
}

#tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    border-bottom: 3px solid rgb(163, 169, 176, 0.2);
    padding: 5px 0;
}

#mini-card {
    display: flex;
    align-items: center;
    border-bottom: 3px solid rgb(163, 169, 176, 0.2);
    color: gray
}

#mini-card .small-image {
    min-width: 90px;
    height: 90px;
    background-color: #e74c3c;
    margin-right: 20px;
}

#container {
    display: block;
    line-height: 10px;
}

.social {
    border: 1px solid rgb(255, 255, 255, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 2px;
    padding: 5px 5px 0px 5px;
    margin-right: 5px;
}

.orange {
    background-color: #e74c3c;
    color: white;
    border: 0px;
}

.orange-font {
    color: #e74c3c;
}

.gray {
    color: rgb(163, 169, 176, 1);
}

footer .social{
    background-color: #283444;
    border: 0px;
}

.contact-socials {
    display: flex;
    align-items: center;
}

.black {
    color: black;
    line-height: normal;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
}
    
button:hover { 
    transform: scale(1.05);
}

.endcards {
    display: flex;
    justify-content: space-between;
}

.endcards button {
    background-color: white;
    border-bottom: 3px solid rgb(163, 169, 176, 0.2);
    display: flex;
    align-items: center;
}

#blog-head button {
    margin: -10px 0px 10px 0px;
}

.blog#blog-body {
    padding-bottom: 50px;
}


@media(min-width: 900px) and (max-width: 1200px) {
    article {
        margin: 20px;
    }
    
    aside {
        margin-top: 20px;
    }

    .main-body {
        margin: 0px 30px;
    }
    
}

@media(min-width: 600px) and (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin-top: 20px;
        width: 70vw;
    }

    .main-body {
        flex-direction: column;
    }

    article {
        margin: 100 0 0 0;
    }

    #search {
        display: none;
    }

    #mini-card {
        display: flex;
        /* flex-direction: column; */
        padding: 20px 0 10px 10px;
    }

    #container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        align-items: center;
        font-size: smaller;
    }

    #container .black {
        margin: 0;
    }

    .aside-head {
        justify-content: center;
    }
    
}

@media(min-width: 320px) and (max-width: 600px)  {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin-top: 20px;
        width: 90vw;
    }

    .main-body {
        flex-direction: column;
    }

    article {
        margin: 100 0 0 0;
    }

    #search {
        display: none;
    }

    article {
        margin-top: 30px;
    }

    .main-body {
        margin: 0 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #follow {
        display: none;
    }
}


